# Telegram Bot Token from @BotFather
TOKEN=
# Your Telegram User ID
BOT_OWNER_ID=
# Comma-separated list of admin User IDs
BOT_ADMINS=
# Example: MONGODB_URL=mongodb+srv://<db_username>:<db_password>@cluster0.h7arhxp.mongodb.net/<collection_name>?appName=Cluster0
MONGODB_URL=
